button {
  height: min(15vw, 15vh);
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  font-size: min(10vw, 10vh);
  line-height: min(10vw, 10vh);
  text-align: center;
  font-weight: 900;
}

button:hover {
  background-color: rgb(248, 181, 57);
}

button > p {
  display: inline-block;
  line-height: min(7.4vw, 7.4vh);
  padding-bottom: min(0.7vw, 0.7vh);
  margin-bottom: min(1vw, 1vh);
  margin-right: min(1vw, 1vh);
}

#r-btn {
  background-image: url(../img/rock.svg);
}

#p-btn {
  background-image: url(../img/paper.svg);
}

#s-btn {
  background-image: url(../img/scissors.svg);
}
